.contacts {
    background-color: #040404;
    color: #fff;
    
    .title {
        padding-top: 5px;
    }

    .paragraph {
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(91, 93, 99)
    }

    .button{
        margin: 31.5px 0;
    }
}