.service-page{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: #040404;
    color: #fff;

    .row{
        margin-left: 0;
        margin-right: 0;

        .paragraph{
            margin: 20px 0 10px 0;
        }
    }
}