.about-me-page {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px;
    background-color: #040404;
    color: #fff;

    .about-me-title{
        color: #4fb948;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;

        .about-me-paragraph{
            margin: 0px 0px 10px 0px;
            padding: 20px 20px 20px 40px;
        }
    }
}